.section_calc {
    background-color: rgb(39, 63, 83);
    margin: 0px;
    height: 110rem;
  }
  .container_calc {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .calculatrice {
    margin-top: 130px;
    border-radius: 20px;
  }
  
  .display {
    background-color: rgb(2, 30, 56);
    text-align: right;
    padding: 40px;
    border-radius: 10px;
  }
  .display h1 {
    color: white;
  }
  .buttons {
    background-color: rgb(2, 30, 56);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
  }
  .buttons button {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 6px;
    cursor: pointer;
  }
  .buttons button :hover {
    background-color: rgb(0, 0, 0);
  }
  .last {
    background-color: rgb(2, 30, 56);
    border-radius: 10px;
    margin-top: 10px;
  }
  .last button {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #b1 {
    width: 197px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #b2 {
    width: 197px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19px;
    padding-left: 20px;
    right: 20px;
    background-color: rgb(86, 86, 241);
  }
  #del {
    background-color: red;
  }
  #b1 {
    background-color: red;
  }
  .discription {
    /* text-align: center; */
    margin: 85px 130px 117px;
  }
  
  .discription p {
    color: white;
    font-size: 22px;
  }
  .discription h3 {
    color: white;
    font-size: 34px;
  }
  .foncyionalité {
    margin-top: 45px;
  }
  .tech {
    margin-top: 45px;
  }
  